<% provide(:title, 'добро пожаловать!') %>
<div class="row">
	<div class="large-6 columns">
		<h3>Для чего этот сайт?</h3>
		<ul>
			<li>Небольшой зарабаток вам</li>
			<li>Передача части денег различным фондам помощи (15%)</li>
			<li>Передача части денег администратору сайта (5%)</li>
		</ul>
		<h3>Что нужно для участия?</h3>
		<ul>
			<li>Регистрация</li>
			<li>Единоразовый вклад 100 рублей</li>
		</ul>
	</div>

	<div class="large-6 columns">
		<h3>Как вы зарабатываете?</h3>
		<ul>
			<li>За каждого приглашённого вы получаете 50% от его вклада</li>
			<li>За всех кого приглашает, приглашённый вами, вы получаете 10% от их вклада</li>
			<li>И так ещё на 2 уровня!</li>
		</ul>
		<p>
<em><pre>
Пример:
вы пригласили Антона - вам 50 рублей после его вклада
Антон пригласил 4-х человек - вам 4x10 = 40 рублей
каждый из 4-х пригласил по 3 человека - вам 4х3х10 = 120 рублей
эти 3-е пригласили по 3 человека - вам 4х3х3х10 = 360 рублей
Итого 570 рублей, которые вы можете снять в любой момент,
А вы пригласили только одного Антона!
Также с данной цепочки на пользу текущего фонда пойдёт 540 рублей!
Вы заработали - вы помогли!
</pre></em>
		</p>
	</div>
</div>
<div class="row">
	<div class="large-3 large-centered columns text-center">
		<%= link_to('присоединиться', signup_path, class: 'button') %>
		Есть аккаунт? <%= link_to('Войти!', signin_path) %>
	</div>
</div>