<% provide(:title, 'помощь') %>

<%= link_to "Как это работает?", how_it_work_path %>
<br />
<%= link_to "Написать тикет", new_ticket_path %>

<h4>Список часто задаваемых вопросов</h4>
<%= render partial: 'asks/ask', collection: @asks.all %>

<% if current_user.admin? %>
	<br />
	<%= link_to "редактируемый список вопросов", asks_path, class: "button" %>
<% end %>