<div class="row">
	<div id="land-image">
		<span class="land-item">
			<%= image_tag("invite1.jpg", alt: "", class: "land-image") %>
			<ul class="land-list">
				<li>Из твоих знакомых ещё никто не зарегистрировался? <%= link_to('Стань первым', signup_path) %> и заработай первым</li>
				<li>Зарегистрировавшись по приглашению, зарабатывай первую неделю больше - польза и тебе, и пригласившему</li>
				<li>Публикуй приглашения в социальных сетях</li>
			</ul>
			<span class="land-block">
			</span>
			<span class="land-thumb-over">
				<span class="land-thumb">
					<%= image_tag("land/city.png", alt: "Микро-вклад с неплохой прибылью", class: "land-showed") %>
					<span class="land-hidded">
						<%= image_tag("land/city2.png", alt: "Небольшой, но честный заработок простым способом") %>
					</span>
				</span>
			</span>
			<span class="land-text-bg"></span>
			<span class="land-text">
				<span class="land-text-first">
					Стань первым!
				</span>
				<span class="land-text-hidded">
					Приглашай друзей!
				</span>
			</span>
		</span>

		<span class="land-item">
			<%= image_tag("invite1.jpg", alt: "", class: "land-image") %>
			<ul class="land-list">
				<li>Снимай в любое время со своего счёта на карточку, мобильный или электронный кошелёк</li>
				<li>Следи за количеством присоединившихся к тебе, можешь посчитать прибыль сам</li>
				<li>Известная <%= link_to('платёжная система', 'http://robokassa.ru/ru/') %> - всё безопасно</li>
			</ul>
			<span class="land-block">
			</span>
			<span class="land-thumb-over">
				<span class="land-thumb">
					<%= image_tag("land/eye.png", alt: "Следи за заработком", class: "land-showed") %>
					<span class="land-hidded">
						<%= image_tag("land/eye2.png", alt: "Честный заработок") %>
					</span>
				</span>
			</span>
			<span class="land-text-bg"></span>
			<span class="land-text">
				<span class="land-text-first">
					Всё на виду!
				</span>
				<span class="land-text-hidded">
					Ничего не скрыто!
				</span>
			</span>
		</span>

		<span class="land-item">
			<%= image_tag("invite1.jpg", alt: "", class: "land-image") %>
			<ul class="land-list">
				<li>Каждую неделю в текущий фонд передаются все собранные средства и происходит смена</li>
				<li>Как минимум 10% за каждую активацию передаётся в текущий фонд</li>
				<li>Следи за количеством уже переданных средств на <%= link_to('странице фондов', funds_finished_path) %></li>
				<li>Знаешь о благотворительном фонде? <%= link_to('Предложи!', new_ticket_path) %></li>
			</ul>
			<span class="land-block">
			</span>
			<span class="land-thumb-over">
				<span class="land-thumb">
					<%= image_tag("land/hands.png", alt: "Благотворительность и заработок", class: "land-showed") %>
					<span class="land-hidded">
						<%= image_tag("land/hands2.png", alt: "Дари добро и зарабатывай") %>
					</span>
				</span>
			</span>
			<span class="land-text-bg"></span>
			<span class="land-text">
				<span class="land-text-first">
					Благое дело!
				</span>
				<span class="land-text-hidded">
					10% в фонды!
				</span>
			</span>
		</span>

		<span class="land-item">
			<%= image_tag("invite1.jpg", alt: "", class: "land-image") %>
			<ul class="land-list">
				<li>Приглашай и получай половину за активацию на свой счёт!</li>
				<li>Дополнительный заработок за приглашённых твоими друзями!</li>
				<li>И это не всё! Смотри <%= link_to('как это работает', how_it_work_path) %></li>
			</ul>
			<span class="land-block">
			</span>
			<span class="land-thumb-over">
				<span class="land-thumb">
					<%= image_tag("land/invite.png", alt: "Зови знакомых и получай доход", class: "land-showed") %>
					<span class="land-hidded">
						<%= image_tag("land/invite2.png", alt: "Приглашай и гарантированно зарабатывай") %>
					</span>
				</span>
			</span>
			<span class="land-text-bg"></span>
			<span class="land-text">
				<span class="land-text-first">
					Приглашай!
				</span>
				<span class="land-text-hidded">
					Зарабатывай!
				</span>
			</span>
		</span>
	</div>
</div>
	<div class="row text-center signup">
		<%= link_to "Присоединиться!", signup_path, { class: "medium radius button" } %>
	</div>
	<table class="info-block row">
		<tbody class="block">
			<tr>
				<td colspan="2" class="text-center">
					<h2>Как начать зарбатывать?</h2>
				</td>
			</tr>
			<tr>
				<td class="text-center">
					<%= image_tag("other/hands-invite.png", alt: "hands-invite") %>
				</td>
				<td>
					<div class="border">
						<ol>
							<li><%= link_to "Присоединись", signup_path %> и активируй аккаунт за 100 рублей</li>
							<li>Приглашай всех по личной ссылке - получай по 50 рублей за каждого активированного по ней и не только!</li>
							<li>Перечисли деньги на свой счёт в любой момент! (телефон, карточка или электронный кошелёк)</li>
						</ol>
					</div>
				</td>
			</tr>
		</tbody>
		<tr class="spacer"><td></td></tr>
		<tbody class="block">
			<tr>
				<td colspan="2" class="text-center">
					<h2>Благотворительность</h2>
				</td>
			</tr>
			<tr>
				<td>
					<div class="border">
						<ol>
							<li>Как минимум 10% от каждой активации передаётся текущему фонду</li>
							<li>Прослеживай <%= link_to('списки фондов', funds_finished_path) %>, которым уже помогли</li>
							<li>Узнай сколько денег накопилось у <%= link_to 'текущего фонда', funds_current_path %></li>
						</ol>
					</div>
				</td>
				<td class="text-center">
					<%= image_tag("other/heart.png", alt: "heart") %>
				</td>
			</tr>
		</tbody>
	</table>
	<br />
<hr >
<%= render 'feed_items/list' %>
<%= will_paginate(@newsFeed) %>
<%= javascript_include_tag "land" %>