<% provide(:title, 'о проекте') %>
<%= stylesheet_link_tag    "dub/css.scss" %>

<h4>Happy Tree</h4>
<div class="panel">
	<p>
		&emsp;Проект, который может обеспечить небольшой, но не рискованный зарабаток в Инетрнете. Вы оплачиваете активацию аккаунта и получаете возможность приглашать знакомых, публикуя приглашение в социальные сети или отправляя любым способом личный код-приглашение. За активацию приглашённых вы получаете начисления в виде 50 рублей и не только! Отличительные особенности проекта:
		<ul id="features-list">
			<li>активация аккаунта - единоразовый платёж 100 рублей</li>
			<li>часть платежа отправляется на счёт благотворительного фонда</li>
			<li>приглашённый вами получает <span data-tooltip aria-haspopup="true" class="has-tip" title="Первую неделю приглашённый за счёт администратора будет получать +5 рублей за каждую активацию приглашённых им.">бонус</span>, что мотивирует регистрацию по вашему приглашению</li>
		</ul>
	</p>
</div>
<table id="get-money">
	<tr>
		<td>
			<h4>Зарабатывайте</h4>
			<ul id="fund-info-list" class="circle">
				<li>Пригалашайте друзей и получайте за каждого активированного по 50 рублей</li>
				<li>За каждую активацию приглашённых вашими друзьями Вы также получаете по 10 рублей</li>
				<li>Получайте дополнительно по 10 рублей за активированных далее, вплоть до 4 уровня приглашений (отображено на рисунке кругами)</li>
				<li>На рисунке справа отображено как примерно может выглядеть ваша ветка, пригласи Вы всего 2-х человек (уже 320 рублей заработка)</li>
			</ul>
		</td>
		<td>
			<%= image_tag("dub/tree.png", alt: "Зарабаток из микро-вклада с элементами благотворительности!") %>
		</td>
	</tr>
</table>
<hr />
<table id="fund-info">
	<tr>
		<td>
			<div id="fund-animation">
				<div id="fund-dub"></div>
				<div id="fund-dub-bot"></div>
			</div>
			<div class="progress secondary radius">
				<span class="text">смена фонда</span>
				<span id="fund-info-meter" class="meter" style="width: 0%">
				</span>
				<div class="textWeek">неделя</div>
			</div>
		</td>
		<td>
			<h4>Благотворительные фонды</h4>
			<ul id="fund-info-list" class="circle">
				<li>Корнем всего дерева является благотворительный фонд, который сменяется раз в неделю</li>
				<li>В течение недели фонд будет накапливать денежные средства от активаций пользователей</li>
				<li>Накопленные для фонда средства отправляются на его счёт, и на сайте публикуется информация о перечислении</li>
			</ul>
		</td>
	</tr>
</table>


<h4>Список часто задаваемых вопросов</h4>
<%= render partial: 'asks/ask', collection: @asks.all %>
<%= javascript_include_tag "dub" %>