<% provide(:title, 'достижения проекта') %>

<div class="large-8 large-centered columns">
	<h1>Достижения проекта</h1>
	<table width="100%">
	<% unless User.first.nil? %>
	<tr>
		<td>
			Времени прошло с момента запуска
		</td>
		<td>
			<%= ((Time.now - User.first.created_at) / (60 * 60 * 24)).to_i %>
			<%= Russian.p(((Time.now - User.first.created_at) / (60 * 60 * 24)).to_i, 'день', 'дня', 'дней') %>
		</td>
	</tr>
	<% end %>
	<tr>
		<td>
			Количество присоединившихся
		</td>
		<td>
			<%= @user_count %>
		</td>
	</tr>
	<tr>
		<td>
			Количество активированных
		</td>
		<td>
			<%= User.where(confirmed: true).count %>
		</td>
	</tr>
	<!-- <tr>
		<td>
			Средний вклад
		</td>
		<td>
			<%= User.average(:deposit) %>
		</td>
	</tr> -->
	<tr>
		<td>
			Количество фондов, которым помогли
		</td>
		<td>
			<%= Fund.where(finished: 1).count %>
		</td>
	</tr>
	<tr>
		<td>
			Всего отправлено в фонды
		</td>
		<td>
			<%= Fund.sum(:result) + Fund.sum(:result_other) %>
		</td>
	</tr>
	</table>
</div>