<% provide(:title, 'статистика и графика') %>

<h2>Общее количество пользователей</h2>
<%= line_chart User.group_by_day(:created_at).count %>

<h2>Подтверждённые пользователи - колонка приглашения</h2>
<div class="row">
	<div class="small-10 columns">
		<%= line_chart [
			{ name: "Админ", data: User.where("inviter_id IS ? AND confirmed = true", nil).group_by_day(:created_at).count },
			{ name: "Приглашён", data: User.where("inviter_id IS NOT ? AND confirmed = true", nil).group_by_day(:created_at).count }
			] %>
	</div>
	<div class="small-2 columns">
		<%= pie_chart ({"Админ" => User.where("inviter_id IS ? AND confirmed = true", nil).count,
			"Приглашён" => User.where("inviter_id IS NOT ? AND confirmed = true", nil).count}) %>
	</div>
</div>

<h2>График регистрации - колонка приглашения</h2>
<div class="row">
	<div class="small-10 columns">
		<%= line_chart [
			{ name: "Админ", data: User.where("inviter_id IS ?", nil).group_by_day(:created_at).count },
			{ name: "Приглашён", data: User.where("inviter_id IS NOT ?", nil).group_by_day(:created_at).count }
			] %>
	</div>
	<div class="small-2 columns">
		<%= pie_chart ({"Админ" => User.where("inviter_id IS ?", nil).count,
			"Приглашён" => User.where("inviter_id IS NOT ?", nil).count}) %>
	</div>
</div>

<h2>Средний депозит</h2>
<%= area_chart User.group_by_day(:created_at).average(:deposit) %>


<script>
  var Chartkick = {"language": "ru"};
</script>

