<%= form_for(@special_link) do |f| %>
  <% if @special_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@special_link.errors.count, "error") %> prohibited this special_link from being saved:</h2>

      <ul>
      <% @special_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <label>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>
        <%= f.label :special_link %>
        <%= f.text_field :special_link %>
      </label>
    </div>
    <div class="large-6 columns">
      <label>
        <%= f.label :icon %>
        <%= f.text_field :icon %>
      </label>
    </div>
  </div>
    
  <div class="row">
    <div class="large-12 columns">
      <%= submit_tag "Сохранить", :class => "button" %>
    </div>
  </div>
<% end %>
