<% provide(:title, 'специальные ссылки') %>
<h1>Список специальных ссылок</h1>

<% if @special_links.length > 0 %>
<table>
  <thead>
    <tr>
      <th>название</th>
      <th>ссылка</th>
      <th>иконка</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @special_links.each do |special_link| %>
      <tr>
        <td><%= special_link.name %></td>
        <td><%= special_link.special_link %></td>
        <td><%= special_link.icon %></td>
        <td><%= link_to 'Show', special_link %></td>
        <td><%= link_to 'Edit', edit_special_link_path(special_link) %></td>
        <td><%= link_to 'Destroy', special_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="alert-box">
  Ни одной ссылки не было добавлено.
</div>
<% end %>

<%= link_to 'Добавить специальную ссылку', new_special_link_path %>

<%= will_paginate(@special_links) %>