<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @special_link.name %>
</p>

<p>
  <strong>Special link:</strong>
  <%= @special_link.special_link %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @special_link.icon %>
</p>

<%= link_to 'Edit', edit_special_link_path(@special_link) %> |
<%= link_to 'Back', special_links_path %>
