<% provide(:title, "вход") %>
<h1 class="text-center">Вход</h1>

<div class="row">
	<div class="large-6 columns large-centered">
		<%= form_tag(sessions_path) do %>
			<%= label_tag :login %>
			<%= text_field_tag :login %>

			<%= label_tag :password %>
			<%= password_field_tag :password %>

			<div class="text-center">
    			<%= submit_tag "войти", class: "button" %>
    		</div>
		<% end %>
	
		<p class="text-center">Новый пользователь? <%= link_to "Присоединиться!", signup_path %></p>
	</div>
</div>