<%= form_for(@ask) do |f| %>
  <% if @ask.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ask.errors.count, "error") %> prohibited this ask from being saved:</h2>

      <ul>
      <% @ask.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <label>
        <%= f.label :content %>
        <%= f.text_field :content %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>
        <%= f.label :response %><br>
        <%= f.text_area :response %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>
        <%= f.label :priority %>
        <%= f.number_field :priority %>
      </label>
    </div>
    <div class="large-6 columns">
      <label>
        <%= f.label :ask_status %>
        <%= f.number_field :ask_status %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= submit_tag "Продолжить", :class => "button" %>
    </div>
  </div>
<% end %>
