<h1>Список вопросов</h1>

<table>
  <tbody>
    <% @asks.each do |ask| %>
      <tr class="<%= ask.ask_status == 1 ? 'ready' : 'unready' %>">
        <td>
          <b><%= ask.content %></b>
          <br />
          <b>Приоритет: <%= ask.priority %></b>
          <p>
            <%= articlate(ask.response, 300, ask) %>
          </p>
          <ul class="inline-list">
            <li><%= link_to 'Подробнее', ask %></li>
            <li><%= link_to 'Редактировать', edit_ask_path(ask) %></li>
            <li><%= link_to 'Удалить', ask, method: :delete, data: { confirm: 'Вы уверены?' } %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Ask', new_ask_path %>

<%= will_paginate(@asks) %>