<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @ask.content %>
</p>

<p>
  <strong>Response:</strong>
  <%= @ask.response %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @ask.priority %>
</p>

<p>
  <strong>Ask status:</strong>
  <%= @ask.ask_status %>
</p>

<%= link_to 'Edit', edit_ask_path(@ask) %> |
<%= link_to 'Back', asks_path %>
