<%= form_for([@ticket, @ticket_message]) do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <label>
	    <%= f.text_area :content, placeholder: "Введите текст сообщения..." %>
	  </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= submit_tag "Отправить", :class => "button" %>
    </div>
  </div>
<% end %>