<div data-alert class="alert-box secondary">
	<div>
		<%= ticket_message.created_at.localtime.strftime("%d.%m.%y в %H:%M") %>
		<% if current_user.admin? %>
			<%= link_to User.find(ticket_message.user_id).login, User.find(ticket_message.user_id) %>
		<% else %>
			<strong><%= User.find(ticket_message.user_id).login %></strong>
		<% end %>
	</div>
	<div>
		<%= ticket_message.content %>
	</div>

	<% if current_user.admin? && !@ticket.closed? %>
	<div>
		<a href="<%= ticket_message_path(@ticket, ticket_message) %>" id="delete_<%= ticket_message.id %>" class="close" data-method="delete" data-confirm="Точно?">&times;</a>
	</div>
	<% end %>
</div>