<%= render 'shared/error_messages', object: f.object %>

<div>
	<%= f.label :email %>
	<%= f.text_field :email, { placeholder: @user.email, value: ""} %>
</div>

<div>
	<%= f.check_box :anonimity, {}, 1, 0 %>
	<%= f.label :anonimity, "скрыть логин от всех" %>
</div>

<%= f.label :current_password %>
<%= f.password_field :current_password %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>

<%= submit_tag "сохранить", :class => "button" %>