<% provide(:title, @user.login) %>

<h2><%= @user.login %></h2>

<!-- <h4>
	Откуда приходят приглашённые вами
</h4> -->

<h4>Количество приглашённых (активированных)</h4>
<table>
	<tr>
		<td>Уровень 1 (вы пригласили)</td>
		<td><%= @user.confirmed_childrens.count %></td>
	</tr>
	<tr>
		<td>Уровень 2 (приглашённые вами пригласили)</td>
		<%
			sum = 0
			@user.confirmed_childrens.each do |user|
				sum += user.confirmed_childrens.count
			end
		%>
		<td><%= sum %></td>
	</tr>
	<tr>
		<td>Уровень 3</td>
		<%
			sum = 0
			@user.confirmed_childrens.each do |user|
				user.confirmed_childrens.each do |user2|
					sum += user2.confirmed_childrens.count
				end
			end
		%>
		<td><%= sum %></td>
	</tr>
	<tr>
		<td>Уровень 4</td>
		<%
			sum = 0
			@user.confirmed_childrens.each do |user|
				user.confirmed_childrens.each do |user2|
					user2.confirmed_childrens.each do |user3|
						sum += user3.confirmed_childrens.count
					end
				end
			end
		%>
		<td><%= sum %></td>
	</tr>
</table>