<%= render 'shared/error_messages', object: f.object %>

<div>
	<label>
		Логин
		<%= f.text_field :login, placeholder: "Логин", required: true, pattern: "^([а-яА-Яa-zA-Z0-9-_]{5,20})$" %>
	</label>
	<span class="error">Логин должен содержать от 5 до 20 символов. Разрешено использовать: кириллицу, латинские символы, числа, знаки - и _</span>
</div>

<label>
	<%= f.check_box :anonimity, {}, 1, 0 %>
	<span data-tooltip aria-haspopup="true" class="has-tip" title="Ваш логин будет скрыт для всех и увидеть его сможет только администратор.">скрыть логин от всех</span>
</label>

<div class="password">
	<label>
		Пароль
		<%= f.password_field :password, placeholder: "Пароль", required: true, pattern: ".{6,60}" %>
	</label>
	<span class="error">Пароль должен содержать от 6 до 60 символов</span>
</div>

<div class="password_confirmation">
	<label>
		Подтверждение пароля
		<%= f.password_field :password_confirmation, placeholder: "Подтверждение пароля", required: true, "data-equalto" => "user_password" %>
	</label>
	<span class="error">Не совпадает с паролем</span>
</div>

<div>
	<label class="alert-box">
		<span data-tooltip aria-haspopup="true" class="has-tip" title="Код можно получить от друзей или знакомых, которые уже зарегестрировали и активировали аккаунт.">Invite-key</span>
		(дополнительно +5 рублей за каждого приглашённого в первую неделю!)
		<%= f.text_field :invite_key, { value: get_inviter_hash, placeholder: "Код-приглашение (не обязательно)" } %>
		не обязательно к заполнению
	</label>
</div>

<%= submit_tag "далее", :class => "button" %>