<h1>Дополнительная информация</h1>
<%= form_for(@user, url: settings_path, html:{"data-abide" => true}) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="alert-box text-white">
		<div class="email">
			<label>
				E-mail
				<%= f.text_field :email, placeholder: "E-mail", type: "email", required: true %>
			</label>
			<span class="error">Введите корректный E-mail. Пример: example@htree.ru</span>
		</div>
		<label>
			<%= f.check_box :email_get_news, {}, 1, 0 %>
			Получать новости проекта
		</label>
	</div>

	<div class="alert-box text-white">
		<!-- <%= label_tag :deposit, "Стоимость" %>
		<span id="deposit">100</span> рублей
		-->
		<%= f.hidden_field :deposit, value: "100.00" %>
		<!-- <div>
			<%= check_box_tag :more_deposit %>
			<%= label_tag :more_deposit, "Вложить больше" %>
			<%= link_to "какая с этого польза?", "#" %>
		</div> -->

		<label>
			<%= f.check_box :goodness, { data: { confirm: 'Вы уверены?' } }, 1, 0 %>
			Передать весь свой зарабаток в фонд (<b>не обязательно,</b> отказ от всего заработка!)
			<span data-tooltip aria-haspopup="true" class="has-tip" title="Передача всего вашего заработка в фонд. Весь зарабаток администратора с вашей ветки также пойдёт в фонд.">подробно</span>
		</label>

		<div id="thanks">Спасибо!!!</div>
	</div>

	<%= f.submit "далее", class: "button" %>
<% end %>

<script type="text/javascript">
	$(document).ready(function () {
		$('#user_goodness').change(function (e) {
			var target = $(this);
			if (target.prop("checked")) {
				if (confirm("Вы отказываетесь от ВСЕГО заработка! Всё, что вы заработаете, перейдёт в фонды!"))
				{
					target.prop("checked",true);
					$('#thanks').show(1000);
				}
				else
				{
					target.prop("checked",false);
				}
			} else {
				$('#thanks').hide(1000);
			}
		});
	});
</script>