<div class="large-offset-3 large-6">
	<h1>Активация<small>последний шаг</small></h1>

		<p>Нажимая кнопку Активировать, Вы тем самым соглашаетесь с <a href="#" data-reveal-id="rules">условиями использования программного продукта</a>.</p>

		<div>
			<%= render 'shared/pay_form' %>
		</div>

		<div id="rules" class="reveal-modal" data-reveal>
		  <h2>Условия использования программного продукта</h2>
		  <p class="lead">Работа программного продукта регламентируется следующими условиями:</p>
		  <p class="lead"><i>Последнее изменение: 11.03.15</i></p>
		  <p>
			<ol>
				<li>В данное руководство могут быть внесены поправки. Информация о последнем изменении сообщается на этой странице. Изменения вступают в силу с момента их публикации. Если Вы не согласны с изменениями правил, Вы должны прекратить использовать программный продукт (далее <i>ПП</i>).</li>
				<li>Все конфиденциальные и другие данные хранятся на серверах компании In-Solve (1GB.RU).</li>
				<li>Обработку и защиту данных со стороны www.htree.ru (далее <i>сайт</i>) обеспечивает ПП, разработанный Ивановым Георгием Александровичем (далее <i>администратор</i>).</li>
				<li>Администратор обязуется не взимать никакой дополнительной платы с пользователей. Единственная плата со стороны пользователей - это плата за активацию аккаунта.</li>
				<li>ПП не хранит никаких данных об электронных кошельках и банковских карточках пользователей.</li>
				<li>Администратор обязуется, пока ПП находится в действующем состоянии, переводить накопления фондов, а также 50% заработка от рекламы, расположенной на страницах сайта (далее <i>реклама</i>), на счета соответствующих фондов по мере окончания их активности в ПП (переход к следующему фонду)</li>
				<li>Пользователи системы получают денежные средства способом, описанным в разделе "<%= link_to('Как это работает?', how_it_work_path) %>" и не как иначе.</li>
				<li>Выбор фондов, добавляемых на сайт, осуществляется исключительно администратором.</li>
				<li>Администратор обязуется выбирать фонд, руководствуясь лишь собственными моральными принципами, а не возможностью заработать, либо получить что-то взамен.</li>
				<li>Администратор получает денежные средства по той же системе, что и другие пользователи, и дополнительно 10% с каждой активации пользователей ПП. Если пользователь не был приглашён кем-то, то при регистрации он автоматически становится приглашённым администратора. Также администратор получает 50% заработка от рекламы.</li>
				<li>В случае, если сайт необходимо будет закрыть по запросу органов власти, либо произойдёт необратимый сбой (на усмотрение администратора) программного обеспечения или всей системы в целом, регистрация новых пользователей станет недоступной и все денежные средства на текущий момент, включая заработок администратора (с помощью ПП) за последние 2 недели, будут переведены на счёт текущего или последнего добавленного фонда.</li>
				<li>В любой момент работа сайта может быть приостановлена.</li>
			</ol>
		  </p>
		  <a class="close-reveal-modal">&#215;</a>
		</div>
</div>