<% provide(:title, 'настройки') %>
<h1><%= @user.login %><small>настройки</small></h1>
<div class="alert-box info">Последнее обновление: <%= @user.updated_at.localtime.strftime("%d.%m.%y в %H:%M") %></div>
<div class="row">
	<div class="large-6 large-centered columns">
		<%= form_for(@user, url: settings_path) do |f| %>

			<%= render 'form', f: f %>

		<% end -%>
	</div>
</div>
