<% provide(:title, 'список пользователей') %>
<h1>Все пользователи</h1>
<table>
	<thead>
		<tr>
			<th>Логин</th>
			<th>Депозит</th>
			<th>Капитал</th>
			<th>Детей</th>
			<th>Пригласил</th>
			<th>Откуда</th>
			<th>Регистрация</th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |u| %>
			<tr>
				<td>
					<%= link_to(u.login, user_path(u.id)) %>
					<small>
						<%= "П" if u.confirmed? %>
						<%= u.step unless u.confirmed? %>
						<%= "?" if u.anonimity? %>
						<%= "G" if u.goodness? %>
					</small>
				</td>
				<td>
					<%= u.deposit %>
				</td>
				<td>
					<%= u.capital %>
				</td>
				<td>
					<%= u.childrens.count %>
				</td>
				<td>
					<%= link_to(u.inviter.login, user_path(u.inviter.id)) unless u.inviter.nil? %>
				</td>
				<td>
					<%= u.special_link_id.nil? ? "неизвестно" : u.special_link_id %>
				</td>
				<td>
					<i><%= u.created_at.localtime.strftime("%d.%m.%y") %></i>
					<small><%= u.created_at.localtime.strftime("%T") %></small>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate(@users) %>