<h1>
	<%= @user.login %><small>список приглашённых</small>
</h1>
<% unless @list.blank? %>
	<table>
	<thead>
		<tr>
			<th>логин</th>
			<th>Откуда пришёл</th>
			<th>Зарегестрирован</th>
		</tr>
	</thead>
	<% @list.each do |child| %>
		<tr class="<%= child.confirmed ? 'ready' : 'unready' %>">
			<td>
				<%= child.anonimity? ? 'скрытый логин' : child.login %>
			</td>
			<td>
				<%= child.special_link_id.nil? ? "неизвестно" : child.special_link_id %>
			</td>
			<td>
				<i><%= child.created_at.localtime.strftime("%d.%m.%y в %H:%M") %></i>
			</td>
		</tr>
	<% end %>
	</table>
	<%= will_paginate(@list) %>
<% else %>
<div class="alert-box">
	Ни одного пользователя не приглашено.
</div>
<% end %>