<% provide(:title, 'присоединиться к системе') %>
<h1>Присоединиться</h1>
<div class="row">
	<div class="large-6 large-centered columns">
		<%= form_for(@user, html:{"data-abide" => true}) do |f| %>

			<%= render 'step_zero', f: f, signup: true %>

		<% end -%>
	</div>
</div>
