<% provide(:title, 'снять средства') %>

<h3>в вашем расопоряжении</h3>

<span><%= @user.capital %> руб.</span>

<h3>снять со счёта</h3>

<form>
	<input name="withdraw" type="text" placeholder="введите сумму в рублях для снятия...">

	<input type="submit" class="button" value="Перейти к снятию">
</form>