<% if object.errors.any? %>
  <div data-alert class="alert-box alert">
    <div class="alert alert-error">
      Некорректно заполненная форма.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>