<form method="GET" action="//payeer.com/merchant/">
	<input type="hidden" name="m_shop" value="<%= MY_SHOP_ID %>">
	<input type="hidden" name="m_orderid" value="<%= current_user.id %>">
	<input type="hidden" name="m_amount" value="<%= current_user.deposit %>">
	<input type="hidden" name="m_curr" value="<%= MY_CURR %>">
	<input type="hidden" name="m_desc" value="<%= MY_SHOP_DESC %>">
	<input type="hidden" name="m_sign" value="<%= encode_for_shop([MY_SHOP_ID, current_user.id, current_user.deposit, MY_CURR, MY_SHOP_DESC, SECRET_KEY].join(":")) %>">
	<input type="submit" name="m_process" class="button" value="Активировать" />
</form>