<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-10 columns">
      <label>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </label>
    </div>
    <div class="large-2 columns">
      <label>
        <%= f.label :priority %>
        <%= f.select(:priority, options_for_select((0..2).map { |i| [get_ticket_priority_message(i), i] })) %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>
        <%= f.label :content %>
        <%= f.text_area :content %>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= submit_tag "Сохранить", :class => "button" %>
    </div>
  </div>
<% end %>
