<h1>Список тикетов</h1>

<table class="large-12">
  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td>
          <h3><%= link_to ticket.title, ticket %></h3>
          <p><%= ticket.content %></p>
          Тикет создан <%= ticket.created_at.localtime.strftime("%d.%m.%y в %H:%M") %>
          <ul class="no-bullet">
            <li>
              Приоритет <%= get_ticket_priority_message(ticket.priority) %>
            </li>
            <li>
              Статус: <%= get_ticket_status_message(ticket.ticket_status) %>
            </li>
            <% if current_user.admin? %>
              <li>
                  <% unless ticket.user_id.nil? %>
                    Пользователь <%= link_to User.find(ticket.user_id).login, User.find(ticket.user_id) %>
                  <% end %>
              </li>
              <li>
                <%= link_to 'Редактировать', edit_ticket_path(ticket) %>
              </li>
              <li>
                <%= link_to 'Удалить', ticket, method: :delete, data: { confirm: 'Точно?' } %>
              </li>
            <% end %>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
