<% provide(:title, "тикет ##{@ticket.id} - #{@ticket.title}") %>

<div data-alert class="alert-box info">
  <h2>
    <%= @ticket.title %>
  </h2>

  <p>
    <%= @ticket.content %>
  </p>

  <div>
    <label>Приоритет
    <%= get_ticket_priority_message(@ticket.priority) %>
    </label>
  </div>

  <div>
    Статус:
    <%= get_ticket_status_message(@ticket.ticket_status) %>
  </div>

  <% if current_user.admin? %>
  <div>
    Пользователь
    <%= link_to User.find(@ticket.user_id).login, User.find(@ticket.user_id) %>
  </div>
  <% end %>
</div>

  
<%= render partial: 'ticket_messages/ticket_message', collection: @ticket.ticket_messages.all %>

<% unless @ticket.closed? %>
  <%= render 'ticket_messages/form' %>
<% end %>

<% if @ticket.closed? %>
  <%= link_to 'Есть вопрос', open_ticket_path(@ticket), class: "button small secondary" %>
<% else %>
  <%= link_to 'Вопрос решён', close_ticket_path(@ticket), class: "button small secondary" %>
<% end %>

<% if current_user.admin? %>
  <%= link_to 'редактировать', edit_ticket_path(@ticket), class: "button small secondary" %>
<% end %>
<%= link_to 'список тикетов', tickets_path, class: "button small secondary" %>
