<%= form_for(@feed_item) do |f| %>
  <% if @feed_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feed_item.errors.count, "error") %> prohibited this feed_item from being saved:</h2>

      <ul>
      <% @feed_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <label>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>
        <%= f.label :content %><br>
        <%= f.text_area :content %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.check_box :ready %>
      <label><%= f.label :ready %></label>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <%= submit_tag "Сохранить", :class => "button" %>
    </div>
  </div>
<% end %>
