<div>
	<h2><%= link_to item.title, item %></h2>
	<p class="panel">
		<%= articlate(item.content, 500, item) %>
		<div class="text-right">
			<i>Опубликовано <%= item.created_at.localtime.strftime("%d.%m.%y в %H:%M") %></i>
		</div>
	</p>
	<hr />
</div>