<% provide(:title, 'список новостей') %>
<h1>Список новостей</h1>

<%= link_to 'Добавить новость', new_feed_item_path %>

<% if @feed_items.length > 0 %>
<table>
  <thead>
    <tr>
      <th>Новость</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @feed_items.each do |feed_item| %>
      <tr class="<%= feed_item.ready ? 'ready' : 'unready' %>">
        <td>
          <h4><%= link_to feed_item.title, feed_item %></h4>

          <%= articlate(feed_item.content, 300, feed_item) %>

          <div class="text-right">
            <%= feed_item.updated_at.localtime.strftime("%d.%m.%y в %H:%M") %>
          </div>
        </td>
        <td><%= link_to 'Edit', edit_feed_item_path(feed_item) %></td>
        <td><%= link_to 'Destroy', feed_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="alert-box">
  Новости отсутствуют.
</div>
<% end %>

<%= link_to 'Добавить новость', new_feed_item_path %>

<%= will_paginate(@newsFeed) %>