<h2><%= @feed_item.title %></h2>
<p class="panel">
	<%= @feed_item.content %>
</p>
<p class="text-right">
  <i>Создано:
  <%= @feed_item.created_at.localtime.strftime("%d.%m.%y в %H:%M") %>
  </i>
</p>

<% if !current_user.nil? && current_user.admin? %>
<%= link_to 'Редактировать', edit_feed_item_path(@feed_item) %> |
<% end %>
<%= link_to 'Список новостей', feed_items_path %>
