#fund-animation {
	height: 300px;
	width: 230px;
	background: white;
	box-shadow: 0 0 10px 5px white;
	margin: 10px;
}
#fund-dub {
	background: image-url('dub/dub.png') no-repeat;
	width: 228px;
	height: 209px;
}
#fund-dub-bot {
	box-shadow: inset 0 0px 0px 0px white, inset 0 0px 0px 0px white, inset 38px 0 15px -16px white, inset -38px 0 15px -16px white;
	background: image-url('dub/dub-bot.png');
	width: 228px;
	height: 92px;
	margin-top: -1px;
}
#fund-info-list {
	margin-top: 20px;
}
#fund-info {
	border: none;
	background: transparent;
	td {
		background: transparent;
	}
	.progress {
		.text {
			color: white;
			text-align: center;
			float: right;
			font-size: 90%;
			margin: 0 10px;
		}
		.textWeek {
			color: #0a0;
			text-align: center;
		}
	}
}

#get-money {
	border: none;
	img {
		width: 260px;
		margin: 10px;
	}
}