#land-image {
	width: 100%;
	height: 400px;
    margin: 0 auto;
    margin-bottom: 10px;
    
    .land-image {
    	display: none;
    }	
	.land-thumb img {
		width: 60px;
		height: 60px;
		padding: 0 0;
	}
	.land-item {
		padding: 5px;
		float: left;
		color: white;
		width: 25%;
		-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
		margin-bottom: 10px;
		* {
			z-index: 10;
			position: relative;
		}
		.land-thumb {
			background: rgba(255, 255, 255, .2);
		}
		.land-block {
			background: rgba(100, 100, 100, .7);
			position: absolute;
			width: 25%;
			height: 90px;
			margin-left: -5px;		
			@-moz-document url-prefix() {
				margin-left: -85px;
			}
			margin-top: -5px;
			z-index:8;
		}
		.land-list {
			position: absolute;
			top: 180px;
			left: 30px;
			color: white;
			display: none;
			li {
				padding: 0 10px;
				background: black;
				margin-bottom: 2px;
				background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(20%,rgba(0,0,0,0.5)), color-stop(50%,rgba(0,0,0,1)), color-stop(80%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 20%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 20%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 20%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0) 100%); /* IE10+ */
				background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 20%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
			}
		}
		&.land-min {
			.land-text-first {
				display: none;
			}
		}
	}
	.land-hidded {
		display: none;
	}
	.land-text {
		padding: 0 5px;
		display: inline-block;
		vertical-align:middle;
		line-height: 80px;
		float: right;
		padding-right: 30px;
	}
	.land-active {
		.land-image {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			height: 400px;
			width: 100%;
		}
		.land-thumb {
			background: #bbb;
			border: none;
		}
		.land-thumb-over {
			border-radius: 100%;
			background: #eee;
		}
		&.land-item {
			color: #666;
			.land-showed {
				display: none;
			}
		}
		.land-hidded {
			display: inline-block;
		}
		.land-text-first {
			display: none;
		}
	}
	.land-active-text {
		.land-text-bg {
			background: white;
			width: 200px;
			margin-left: 40px;
			height: 50px;
			display: block;
			margin-top: 15px;
			border-radius: 30px;
			z-index: 9;
		}
		.land-text {
			position: absolute;			
		}
		.land-text-hidded {
			display: block;
			margin-top: -65px;
		}
	}
	.land-text-hidded {
		display: none;
	}
	.land-thumb {
		border-radius: 100%;
		padding: 5px;
		display: block;
		border: 1px solid white;
	}
	.land-thumb-over {
		float: left;
		width: 80px;
		height: 80px;
		padding: 5px;
		-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}
}