<%= form_for(@fund) do |f| %>
  <% if @fund.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fund.errors.count, "error") %> prohibited this fund from being saved:</h2>

      <ul>
      <% @fund.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <label>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>
        <%= f.label :content %>
        <%= f.text_area :content %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>
        <%= f.label :ewallet %>
        <%= f.text_field :ewallet %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>
        <%= f.label :begin_time %>
        <%= f.date_select(:begin_time, default: Date.today + 7,         
                        :order => [:day, :month, :year]) %>
      </label>
    </div>
    <div class="large-6 columns">
      <label>
        <%= f.label :end_time %>
        <%= f.date_select(:end_time, :default => Date.today + 14,         
                        :order => [:day, :month, :year]) %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= submit_tag "Сохранить", :class => "button" %>
    </div>
  </div>
<% end %>
