<% provide(:title, 'фонды, которым помогли') %>

<h3>Список фондов, которым уже оказана помощь</h3>

<% if @funds.length > 0 %>
<table>
  <tbody>
    <% @funds.each do |fund| %>
      <tr>
        <td>
          <h4><%= fund.name %></h4>
          <p><%= fund.content %></p>
          <table>
            <tr>
              <td><b>Кошелёк:</b></td>
              <td><%= fund.ewallet %></td>
            </tr>
            <tr>
              <td><b>Накоплено:</b></td>
              <td><%= fund.result %></td>
            </tr>
            <tr>
              <td><b>Время действия:</b></td>
              <td><%= fund.begin_time.strftime("%e %B %Y") %> - <%= fund.end_time.strftime("%e %B %Y") %></td>
            </tr>
            <% if fund.finished %>
              <tr>
                <td><b>Ответ:</b></td>
                <td><%= fund.response %></td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="alert-box">
  Ещё ни один фонд не был добавлен.
</div>
<% end %>

<%= will_paginate(@funds) %>