<% provide(:title, 'управление фондами') %>

<h1>Список фондов</h1>

<% if @funds.length > 0 %>
<table>
  <tbody>
    <% @funds.each do |fund| %>
      <tr>
        <td>
          <h4><%= fund.name %></h4>
          <p><%= articlate(fund.content, 300, fund) %></p>
          <table>
            <tr>
              <td><b>Кошелёк:</b></td>
              <td><%= fund.ewallet %></td>
            </tr>
            <tr>
              <td><b>Накоплено:</b></td>
              <td><%= fund.result %></td>
            </tr>
            <tr>
              <td><b>Время действия:</b></td>
              <td><%= fund.begin_time.strftime("%e %B %Y") %> - <%= fund.end_time.strftime("%e %B %Y") %></td>
            </tr>
            <% if fund.finished %>
              <tr>
                <td><b>Ответ:</b></td>
                <td><%= fund.response %></td>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <td>
                <ul class="inline-list">
                  <li><%= link_to 'Подробнее', fund %></li>
                  <li><%= link_to 'Редактировать', edit_fund_path(fund) %></li>
                  <li><%= link_to 'Удалить', fund, method: :delete, data: { confirm: 'Вы уверены?' } %></li>
                </ul>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="alert-box">
  Ни одного фонда не было добавлено.
</div>
<% end %>

<br>

<%= link_to 'New Fund', new_fund_path, { class: "button" } %>

<%= will_paginate(@funds) %>