<%= link_to 'Список фондов, которым уже помогли', funds_finished_path %>
<% unless @fund.nil? %>
  <% provide(:title, @fund.name) %>
  
  <p id="notice"><%= notice %></p>

  <h2>
    <%= @fund.name %>
  </h2>

  <p>
    <%= @fund.content %>
  </p>

  <table>
    <tr>
      <td><b>Кошелёк:</b></td>
      <td><%= @fund.ewallet %></td>
    </tr>
    <tr>
      <td><b>Накоплено:</b></td>
      <td><%= @fund.result %></td>
    </tr>
    <tr>
      <td><b>Время действия:</b></td>
      <td><%= @fund.begin_time.strftime("%e %B %Y") %> - <%= @fund.end_time.strftime("%e %B %Y") %></td>
    </tr>
    <% if @fund.finished %>
      <tr>
        <td><b>Ответ:</b></td>
        <td><%= @fund.response %></td>
      </tr>
    <% end %>
    <% if current_user && current_user.admin? %>
      <tr>
        <td></td>
        <td>
          <ul class="inline-list">
            <li><%= link_to 'Подробнее', @fund %></li>
            <li><%= link_to 'Редактировать', edit_fund_path(@fund) %></li>
            <li><%= link_to 'Удалить', @fund, method: :delete, data: { confirm: 'Вы уверены?' } %></li>
          </ul>
        </td>
      </tr>
  <% end %>
  </table>

<% if @current && !@last_helped.nil? %>
  <h4>Последний фонд, которому была оказана помощь</h4>
  <h4>
    <%= @last_helped.name %>
  </h4>

  <p>
    <%= @last_helped.content %>
  </p>

  <table>
    <tr>
      <td><b>Кошелёк:</b></td>
      <td><%= @last_helped.ewallet %></td>
    </tr>
    <tr>
      <td><b>Накоплено:</b></td>
      <td><%= @last_helped.result %></td>
    </tr>
    <% if @last_helped.result_other > 0 %>
    <tr>
      <td><b>Накоплено дополнительно:</b></td>
      <td><%= @last_helped.result_other %></td>
    </tr>
    <% end %>
    <tr>
      <td><b>Время действия:</b></td>
      <td><%= @last_helped.begin_time.strftime("%e %B %Y") %> - <%= @last_helped.end_time.strftime("%e %B %Y") %></td>
    </tr>
    <% if @last_helped.finished && !@last_helped.response.nil? %>
      <tr>
        <td><b>Ответ:</b></td>
        <td><%= @last_helped.response %></td>
      </tr>
    <% end %>
    <% if current_user && current_user.admin? && !@last_helped.finished %>
      <tr>
        <td></td>
        <td>
          <ul class="inline-list">
            <li><%= link_to 'Перейти к завершению', finish_fund_path(@last_helped) %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
<% else %>
  <%= render 'nothing' %>
<% end %>