<div class="large-6 columns">
	<span class="copyright">© 2015 Jeshio, Happy Tree</span>
</div>
<div class="large-6 columns">
	<ul class="menu inline-list">
		<% if confirmed? %>
			<% if current_user.admin? %>
			<li><%= link_to "Список тикетов", tickets_path %></li>
			<% else %>
			<li><%= link_to "Написать тикет", new_ticket_path %></li>
			<% end %>
			<li><%= link_to('Помощь', help_path) %></li>
			<% unless current_user.opened_tickets.empty? %>
		      <li>
		        <%= link_to('Открытые тикеты', tickets_path) %>
		      </li>
		    <% end %>
		<% end %>
	</ul>
</div>