<div class="large-3 columns side-bar">
    <ul class="side-nav">
      <li>
        <h4 class="subheader">текущий зарабаток</h4>
        <h4 class="subheader"><%= current_user.capital %> руб</h4>
        <% if current_user.capital > 0 %>
        <%= link_to 'Снять со счёта', withdraw_path %>
        <% end %>
      </li>
      <li>
      	<h4 class="subheader">приглашено всего</h4>
        <h4 class="subheader"><%= current_user.childrens.count %></h4>
      </li>
      <% unless current_user.opened_tickets.empty? %>
      <li>
        <h4 class="subheader">Тикеты</h4>
        <% current_user.opened_tickets.each do |ticket| %>
        <div>
          <%= link_to ticket.title, ticket %>
        </div>
        <div>
          - <i><%= get_ticket_status_message(ticket.ticket_status) %></i>
        </div>
        <% end %>
      </li>
      <% end %>
      <li class="text-center">
        50% сборов от рекламы за неделю передётся текущему фонду
      </li>
      <li>
      	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- HappyTree -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:220px;height:400px"
             data-ad-client="ca-pub-1917630562772276"
             data-ad-slot="3206387352"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </li>
    </ul>
</div>