<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar  role="navigation" data-options="sticky_on: large">
    <section class="top-bar-section">
      <div class="left-side">
        <ul class="right">
          <li>
            <%= link_to('Текущий фонд', funds_current_path) %>
          </li>
          <li>
            <%= link_to('Достижения проекта', project_achievements_path) %>
          </li>
          <% if confirmed? %>
            <!-- 
            <li>
            <%= link_to('Рейтинг', "#") %>
            </li> -->
          <% end %>
        </ul>
      </div>
      <ul class="title-area">
        <li class="name">
            <%= link_to root_url do %>
              <div id='logo'></div>
            <% end %>
        </li>
      </ul>
      <div class="right-side">
        <ul class="left">
          <% if confirmed? %>
          <li class="has-dropdown">
            <a href="#">Пригласить</a>
            <ul class="dropdown share-list">
              <li class="share-line">
                <%= label_tag :share, 'Поделиться' %>
                <a href="<%= get_special_link('vkontakte', current_user.user_hash) %>"><img src="" width="24" height="24"></a>
                <a href="#"><img src="" width="24" height="24"></a>
                <a href="#"><img src="" width="24" height="24"></a>
                <a href="#"><img src="" width="24" height="24"></a>
              </li>
              <li>
                <label for="invite_key">
                  <span data-tooltip aria-haspopup="true" class="has-tip" title="Введя этот код при регистрации, новые пользователи смогут присоединиться к вам.">ваш код-приглашение</span>
                </label>
                <%= text_field_tag(:invite_key, current_user.user_hash) %>
              </li>

              <!-- <li class="share-to">
                <%= label_tag :share_email, 'отправить на' %>
                <div class="row collapse">
                  <div class="small-9 columns">
                    <%= text_field_tag :share_email, nil, { placeholder: "email" } %>
                  </div>
                  <div class="small-3 columns">
                    <%= submit_tag "Go", { class: "button postfix" } %>
                  </div>
                </div>
              </li> -->
            </ul>
          </li>
          <% end %>
          <% if signed_in? %>
            <li class="active has-dropdown">
              <%= link_to('Профиль', root_path) %>
              <ul class="dropdown">
                <% if current_user.admin? %>
                  <li>
                    <%= link_to('Список новостей', list_news_path) %>
                  </li>
                  <li>
                    <%= link_to('Список пользователей', users_path) %>
                  </li>
                  <li>
                    <%= link_to('Управление фондами', funds_path) %>
                  </li>
                  <li>
                    <%= link_to('Специальные ссылки', special_links_path) %>
                  </li>
                  <li>
                    <%= link_to('Статистика', statistics_path) %>
                  </li>
                <% end %>
                <% if confirmed? %>
                  <li>
                    <%= link_to 'Список приглашённых', invited_list_path %>
                  </li>
                  <!-- <li>
                    <a href="#">Ваши достижения</a>
                  </li> -->
                  <li>
                    <%= link_to 'Снять деньги', withdraw_path %>
                  </li>
                  <li>
                    <%= link_to 'Настройки', settings_path %>
                  </li>
                <% end %>
                <li>
                  <%= link_to('Выход', signout_path, method: "delete") %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to('Вход', signin_path) %>
            </li>
          <% end %>
          <% unless signed_in? %>
            <li>
              <%= link_to('О проекте', how_it_work_path) %>
            </li>
          <% end %>
        </ul>
      </div>
    </section>
  </nav>
</div>