<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Happy Tree<%= content_for?(:title) ? " - " + yield(:title) : "" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" %>
    
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="sky" class="background-pic"></div>
    <div id="sky-2" class="background-pic"></div>
    <div class="row">
      <%= render 'layouts/top_bar' %>
    </div>

    <div class="row content-bar">
      <%= render 'layouts/side_bar' if confirmed? %>
      <div class="medium-<%= confirmed? ? 9 : 12 %> columns">
        <span id="content">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, class: "large-offset-3 large-6 alert-box #{key}") %>
          <% end %>
          <%= yield %>
          <%= debug(params) if Rails.env.development? %>
        </span>
      </div>
    </div>

    <div class="row" id="footer">
      <%= render 'layouts/footer' %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>